.profile__status {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin-top: 16px;
    margin-bottom: 0;
    width: 336px;
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
    .profile__status {
        font-size: 14px;
        line-height: 17px;
        margin-right: auto;
        margin-left: auto;
        width: 282px;
        text-align: center;
    }
}