.element__love {
    width: 22px;
    height: 19px;
    background-image: url(../../../images/love.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    background-color: #FFFFFF;
    transition: opacity 0.5s linear;
    cursor: pointer;
}
.element__love:hover {
    opacity: 0.5;
}